
@font-face
	{
	font-family: "Groovy";
	src: url("../fonts/groovy.ttf") format("truetype");
	}

/*
@font-face
	{
	font-family: "Groovy";
	src: url("fonts/groovy.otf") format("opentype"),
		url("fonts/groovy.woff") format("woff"),
		url("fonts/groovy.woff2") format("woff2");
	}
*/
